@import "../_variables";

.main_skills_contaicer {
  border: $first-border;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  background: transparent;
  .skills_info {
    background: transparent;
    display: flex;
    justify-content: space-between;

    .left {
      background: transparent;

      h2 {
        background: transparent;
      }

      p {
        background: transparent;
        color: $main-color;
        margin-left: 2em;
      }
    }
  }
  .skills_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: transparent;

    .skill_card {
      position: relative;
      width: fit-content;
      padding: 1em;
      text-align: center;
      border: $first-border;
      border-radius: 1em;
      cursor: pointer;
      span {
        font-size: 35px;
      }
      h3 {
        font-size: medium;
        font-weight: 400;
        opacity: 0.8;
      }

      .subCard {
        position: absolute;
        top: 0em;
        font-size: small;
        left: auto;
        margin-left: -0.8em;
        display: flex;
        flex-wrap: wrap;
        line-height: 0.5em;
        background: $main-bg;
        height: 90%;
        border-radius: 1em;
        opacity: 0;
        width: 90%;
        transition: $transition_duration;

        .subCardElem {
          border: $first-border;
          padding: 1em 1.2em;
          border-radius: 2em;
          height: fit-content;
          width: fit-content;
        }
      }

      &:hover {
        .subCard {
          opacity: 1;
        }
      }
    }
  }
}

// Responsive
@media screen and (max-width: 930px) {
  .main_skills_contaicer {
    .skills_cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 575px) {
  .main_skills_contaicer {
    width: 100%;
    .skills_cards {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 auto;
      .skill_card{
        width: 80%;
      }
    }
  }
}
