@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$main-bg: #222222;
// $bg-gradient: linear-gradient(#252b48, #0a192f);
$bg-gradient: #202020;
$main-color: #eb613f;
$main-white: #ffff;
$main-font: 'Poppins', sans-serif;
$transition_duration: 0.5s;
$first-border: 1px solid rgba(82, 81, 81, 0.4)  ;
$main-box-shadow: rgba(82, 81, 81, 0.2) 0px 8px 24px;
