@import "./_variables";

.main_bio {
  // background: $bg-gradient;
  align-items: center;
  display: flex;
  border-radius: $main-border-radius;
  position: relative;
  border: $first-border;

  // .me {
  //   border-radius: $main-border-radius;
  //   width: 30%;
  //   cursor: pointer;
  // }
  .info {
    width: 90%;
    background-color: transparent;

    .DownloadCvBtn {
      display: block;
      text-decoration: none;
      border: $first-border;
      text-align: center;
      padding: 1em;
      border-radius: 2em;
      background: $main-color;
      font-size: small;
      opacity: 0.8;
      transition: $transition_duration;

      &:hover {
        background: transparent;
      }
    }

    h4 {
      background-color: transparent;
      font-size: small;
      opacity: 0.7;
    }
    h1 {
      background-color: transparent;
      margin: 0;
      font-size: large;
      cursor: pointer;
      padding-left: 0.5em;
    }
    span {
      background-color: transparent;
      color: $main-color;
      margin: 0 0.2em 0 0;
    }
  }
}

@media screen and (max-width: 570px) {
  .main_bio {
    .info {
      // text-align: center;
      h4 {
        font-size: xx-small;
      }
      h1 {
        font-size: small;
        width: 90%;
        padding-left: 0.5em;
      }
    }
  }
}
